<html>
  <head>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <title>#slash: Libro 2 de la serie "El Escritor"</title>
<style>
h2 {page-break-before:always;
font-family:"Verdana","sans-serif","Arial"}
h2.writer {font-family: "Times New Roman", "serif"}
</style>
  </head>
<body>
<%= body %>
</body>
</html>